*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: $default-font-3;

  @include respond(md) {
    font-size: $default-font-2;
  }

  @include respond(lg) {
    font-size: $default-font;
  }
}

body {
  background-color: color(color-dark-white);
  font-family: "Open-sans", sans-serif;
}

// body::-webkit-scrollbar {
//   width: 0;
// }

img {
  max-width: 100%;
}

a {
  font-size: 16px;
  text-decoration: none;
}

[class$="__section"] {
  padding: $section-padding 0;
}

// ::-webkit-scrollbar-corner {
//   border-radius: 50%;
// }

::-webkit-scrollbar {
  width: 8px;
  background-color: color(color-dark-white);
}

::-webkit-scrollbar-thumb {
  background-color: color(color-grey-tertiary);
  border-radius: 30px;
  // height: 40px;
}

// ::-webkit-scrollbar-button {
//   background-color: color(color-dark-brown);
// }
