.d-flex {
  display: flex;
}

$margin: 8px;
$padding: 8px;

@for $i from 1 through 12 {
  .uti-mb-#{$i} {
    margin-bottom: $margin * $i;
  }
}

@for $i from 1 through 12 {
  .uti-mt-#{$i} {
    margin-top: $margin * $i;
  }
}

@for $i from 1 through 12 {
  .uti-margin-#{$i} {
    margin: $margin * $i;
  }
}

@for $i from 1 through 12 {
  .uti-pdin-#{$i} {
    padding: $padding * $i;
  }
}

@for $i from 1 through 12 {
  .uti-pdtb-#{$i} {
    padding: #{$padding * $i} 0;
  }
}

@for $i from 1 through 12 {
  .uti-pdlr-#{$i} {
    padding: 0 #{$padding * $i};
  }
}

// Complex grid system with sass loop

$columns: 12;
$mgr: 2%;

@for $i from 1 through $columns {
  .col--#{$i} {
    flex: 0 0 100%;
    //background-color: yellow;

    &:not(:last-child) {
      margin-right: 0;
    }

    @include respond(md) {
      flex: 0 0 100% / $columns * $i - $mgr;
      &:not(:last-child) {
        margin-right: 2%;
      }
    }
  }
}

.accent--color {
  color: color(color-light-green);
}

.no--flex {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0 auto 25px;
}

.no--flex > * {
  display: inline-block;
}
