.d-flex {
  display: flex;
}

$margin: 8px;
$padding: 8px;

@for $i from 1 through 12 {
  .uti-mb-#{$i} {
    margin-bottom: $margin * $i;
  }
}

@for $i from 1 through 12 {
  .uti-mt-#{$i} {
    margin-top: $margin * $i;
  }
}

@for $i from 1 through 12 {
  .uti-mr-#{$i} {
    margin-right: $margin * $i;
  }
}

@for $i from 1 through 12 {
  .uti-ml-#{$i} {
    margin-left: $margin * $i;
  }
}

@for $i from 1 through 12 {
  .uti-margin-#{$i} {
    margin: $margin * $i;
  }
}

@for $i from 1 through 12 {
  .uti-pdin-#{$i} {
    padding: $padding * $i;
  }
}

@for $i from 1 through 12 {
  .uti-pdtb-#{$i} {
    padding: #{$padding * $i} 0;
  }
}

@for $i from 1 through 12 {
  .uti-pdlr-#{$i} {
    padding: 0 #{$padding * $i};
  }
}

// Complex grid system with sass loop

$columns: 12;
$mgr: 2%;

@for $i from 1 through $columns {
  .col--#{$i} {
    flex: 0 0 100%;
    // background-color: yellow;

    &:not(:last-child) {
      margin-right: 0;
    }

    @include respond(md) {
      flex: 0 0 100% / $columns * $i - $mgr;
      &:not(:last-child) {
        margin-right: 2%;
      }
    }
  }
}

.accent--color {
  color: color(color-light-green);
}

.no--flex {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0 auto 25px;
}

.flex-dir-row {
  flex-direction: row;
  align-items: center;
}

.uti-dis {
  display: block;
}

.uti-color-grey-ter {
  color: color(color-grey-tertiary);
}

// .no--flex > * {
//   display: inline-block;
// }

.box-shadow-1 {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.justify-content-left {
  display: flex;
  justify-content: flex-start !important;
}

.justify-content-space-btw {
  justify-content: space-between;
}

.flex-dir {
  flex-direction: column;
  @include respond(md) {
    flex-direction: row;
  }
}

.color-dark-brown {
  color: color(color-dark-brown);
}

.align-self-start {
  align-self: flex-start;
}

.align-center {
  text-align: center;
}

.align-center-mrg {
  margin: 0 auto;
}
