@mixin navigation {
  &__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 1.2rem 0;
    align-items: center;

    @include respond(lg) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    &--secondary {
      @include respond(lg) {
        justify-content: space-evenly;
      }
    }

    &--primary {
      li {
        padding: 1.2rem;
        cursor: pointer;
        position: relative;

        // &:hover {
        //   display: inline-block;
        //   @include gradient(color-light-green, color-cyan-blue);
        //   // background-clip: text;
        //   // color: color(color-light-green);

        // }
      }
    }
  }

  &__item {
    list-style-type: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include respond(lg) {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: color(color-white);
  }

  &__container {
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;
    background-color: color(color-dark-brown);

    @include respond(sm) {
      max-width: 540px;
    }

    @include respond(md) {
      max-width: 720px;
    }

    @include respond(lg) {
      max-width: 960px;
    }

    @include respond(xl) {
      max-width: 1140px;
    }
  }

  &__icon {
    margin-top: 0.4rem;
    margin-right: 0.8rem;
  }

  &__logo {
    width: 102px;

    @include respond(lg) {
      display: none;
    }

    &--primary {
      display: none;

      @include respond(lg) {
        display: block;
        width: 120px;
      }

      @include respond(xl) {
        width: 150px;
      }
    }
  }

  &__toggle {
    position: absolute;
    top: 6px;
    right: 4px;
    cursor: pointer;

    @include respond(lg) {
      display: none;
    }

    .line {
      display: block;
      width: 28px;
      height: 2.5px;
      background-color: color(color-white);
      border-radius: 3rem;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
}

@mixin gradient($color1, $color2) {
  background-image: linear-gradient(45deg, color($color1), color($color2));
}

@mixin grid($cols, $gapr, $gapb: 0) {
  float: left;
  margin-right: $gapr;
  margin-bottom: $gapb;
  width: ((100% - (($cols - 1) * $gapr)) / $cols);

  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }

  @include respond(tab-port) {
    width: 100% !important;
  }
}

// Complex grid system with sass loop

$columns: 12;

@for $i from 1 through $columns {
  .col--#{$i} {
    flex: 0 0 100% / $columns * $i;
    background-color: yellow;

    &:not(:last-child) {
      margin-right: 2%;
    }
  }
}

// Media Query Manager and Breakpoints

@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @media only screen and (max-width: 576px) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @media only screen and (min-width: 576px) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}
