.card {
  width: 100%;
  // margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  background-color: color(color-white);
  border-radius: 8px;

  &__details {
    display: flex;
    justify-content: flex-start;

    flex-direction: column;
    margin: 24px 0;
    padding: 16px;

    @include respond(md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
